gym>=0.26.1
numpy>=1.21.5
pydantic>=1.8.2
wandb
torch>=1.9
sample-factory==2.0.2
tabulate>=0.8.0
pandas>=1.3.0
catalyst>=21.12
packaging>=21.0
seaborn==0.11.2
matplotlib>=3.5.2
pybind11>=2.10.0
cppimport>=22.8.2
git+https://github.com/oxwhirl/smac.git
pogema==1.2.2
pandas<=1.4
tensorboardx>=2.0
tensorboard>=1.15.0
protobuf==3.20.3


